
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    background:  hsl(0, 0%, 12%);
  }
  
  .card {
    flex: 0 0 calc(33.33% - 20px);
    /* 33.33% for three cards in a row with some spacing */
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #615c5c;
    border-radius: 18px;
    background-color:  hsl(0, 0%, 62%);
    opacity: .9;
    text-align: center;
  }
  
  .download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: hsl(24, 74%, 58%);
    color: hsl(0, 0%, 10%);
    /* opacity: .9; */
    text-decoration: none;
    border-radius: 5px;
  }
  
  .download-button:hover {
    background-color: #0056b3;
  }
  
  @media screen and (max-width: 768px) {
    .card {
      flex: 0 0 calc(50% - 20px);
      /* 50% for two cards in a row with some spacing */
    }
  }
  
  @media screen and (max-width: 480px) {
    .card {
      flex: 0 0 calc(100% - 20px);
      /* 100% for one card with some spacing */
    }
  }
  
  p {
    color: #050604;
    opacity: 1;
  }
  
  h2 {
    color: hsl(13, 96%, 47%);
    opacity: 1;
    font-weight: bolder;
  }
  
  