
.about {
    padding-block: 70px;
    background: hsl(0, 0%, 12%);
  }
  
  .about-banner {
    max-width: 400px;
    margin-inline: auto;
    margin-bottom: 80px;
  }
  
  .about  {
    max-width: unset;
    width: 100%;
  }
  