
.skills {
    padding-block: 70px;
    background:  hsl(0, 0%, 13%);
  }
  
  .skills-content {
    margin-bottom: 50px;
  }
  
  .skills-toggle {
    background:  hsl(0, 0%, 19%);
    position: relative;
    width: max-content;
    margin-inline: auto;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 100px;
    /* box-shadow: var(--shadow-1); */
    z-index: 1;
  }
  
  .skills-toggle::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    width: 93px;
    border-radius: 100px;
    transition: 0.25s ease-in-out;
    z-index: -1;
  }
  
  .skills-toggle.active::before {
    left: 98px;
    width: 94px;
  }
  
  .toggle-btn {
    color: hsl(0, 0%, 100%);
    font-family: var(--ff-poppins);
    padding: 5px 25px;
    transition: 0.25s ease-in-out;
    background: none;
    border: none;
    font: inherit;
  }
  
  .toggle-btn.active {
    color:hsl(0, 0%, 100%) ;
   
    left: 5px;
    bottom: 5px;
    width: 93px;
    background: hsl(24, 74%, 58%);
    border-radius: 100px;
    transition: 0.25s ease-in-out;
    z-index: -1;
  }
  
  .skills-box.active .skills-list,
  .skills-box .tools-list {
    display: none;
  }
  
  .skills-box .skills-list,
  .skills-box.active .tools-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    animation: fadeIn 0.5s ease-out forwards;
  }
  
  @keyframes fadeIn {
  
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  
  }
  
  .skill-card {
    position: relative;
    background:  hsl(0, 0%, 19%);
    width: 100px;
    height: 100px;
    display: grid;
    place-items: center;
    border-radius: 12px;
    box-shadow: var(--shadow-1);
    cursor: help;
  }
  
  .skill-card:hover .tooltip {
    transform: translateY(0);
    opacity: 1;
  }
  
.tooltip {
  position: absolute;
  top: -40px;
  background: var(--raw-seinna);
  min-width: max-content;
  color: white;
  font-size: 15px;
  font-weight: var(--fw-700);
  padding: 5px 10px;
  border-radius: var(--radius-4);
  box-shadow: var(--shadow-1);
  transform: translateY(-10px);
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-1);
  z-index: 1;
  border: 2px solid pink;
}


  
  